<div class="bg-color">
<agm-map [latitude]="lat" [longitude]="long">
  <div *ngFor="let c of complex">
    <agm-marker
    *ngFor="let point of coordinates"
    [latitude]="point.geometry.location.lat"
    [longitude]="point.geometry.location.lng"
    [label]="">
    (mouseOver)="onMouseOver(infoWindow,gm)
    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <h3 (click)="viewComplex(c.id)">
        {{c.street}}
      </h3>
      <div>
        <a class="btn btn-attention pull-right"> <i class="fa fa-angle-double-right"></i></a>
      </div>

    </agm-info-window>
  </agm-marker>

</div>

</agm-map>

    <div class="complex" style="padding-top: 100px" *ngFor="let c of complex">
      <h3 (click)="viewComplex(c.id)">{{c.name}}</h3>
      {{c.street}}, {{c.city}}, {{c.state}}  {{c.zip}}
      <br>
      <br>
      <div>
        <img width=700 src="{{c.imageUrl}}" (click)="viewComplex(c.id)" />
     </div>
    </div>

