<div class="bg-container">
    <div class="image-container">
        <div class="image">
        </div>
        <div class="image">
        </div>
    </div>



  <div class="complaint-container">
    <div class="rating">
      This is a rating.
    </div>
    <br>
    <br>
    <div class="complaints">
     <ul>
        <li>Item 1</li>
       <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
  <!-- <div class="map-container">
    <div class="map">
    </div>
  </div> -->


</div>
