<div class='menu-container'>
    <div class='menu'>
      <div class='date'>Aug 14, 2016</div>
      <div class='signup'>Sign Up</div>
      <div class='login'>Login</div>
    </div>
  </div>

  <div class='menu-container'>
  <div class='menu'>
      <div class='date'>Aug 14, 2016</div>
      <div class='links'>
        <div class='signup'>Sign Up</div>      <!-- This is nested now -->
        <div class='login'>Login</div>         <!-- This one too! -->
      </div>
    </div>
  </div>

  <div class='header-container'>
      <div class='header'>
        <div class='subscribe'>Subscribe &#9662;</div>
        <div class='logo'>words1</div>
        <div class='social'>words2</div>
      </div>
    </div>


    <div class='photo-grid-container'>
        <div class='photo-grid'>
          <div class='photo-grid-item first-item'>
            Thing1
          </div>
          <div class='photo-grid-item'>
            Thing2
          </div>
          <div class='photo-grid-item'>
            Thing3
          </div>
          <div class='photo-grid-item'>
            Thing4
         </div>
          <div class='photo-grid-item last-item'>
            Thing5
        </div>

        </div>
      </div>
