  <div class="bg-container">
      <div class="content" id="login" style="padding-top: 200px">
        <h2>Login</h2>
        Need an account?<a [routerLink]="['/register']">Click here</a><br><br>
        <form (submit)=loginForm()>
          <input type="text" name="username" placeholder="username" size="30" [(ngModel)]="login.username">
          <input type="password" name="password" placeholder="password" size="30" [(ngModel)]="login.password">
          <button class="button" type="submit" (click)="loginForm()">Login</button>
        </form>
      </div>
  </div>
